body{
    background:#181818;
    color:white;
    font-family:Arial;
    display:flex;
    justify-content:center;
}

.card{
    width:350px;
    margin-top:30px;
    background:#242424;
    padding:20px;
    border-radius:15px;
}

h1,h2,h3{
    text-align:center;
}

.gp{
    background:#2f2f2f;
    padding:10px;
    border-radius:10px;
    margin-bottom:20px;
}

label{
    display:block;
    margin-top:15px;
}

input{
    width:100%;
    padding:12px;
    margin-top:5px;
    border:none;
    border-radius:8px;
    font-size:16px;
}

button{
    width:100%;
    margin-top:20px;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#00c853;
    color:white;
    font-size:18px;
}

.hasil{
    margin-top:25px;
    text-align:center;
}
body{
    background:#181818;
    color:white;
    font-family:Arial;
    display:flex;
    justify-content:center;
    margin:0;
    padding:20px 0;
}

.card{
    width:350px;
    background:#242424;
    padding:20px;
    border-radius:15px;
    margin-bottom:120px;
}
html{
    overflow-y:auto;
}

body{
    overflow-y:auto;
}